*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.nigar_navbar {
  display: flex;
  width: 100vw;
  height: 56px;
  background-color: rgb(248, 249, 250);
  position: absolute;
  padding: 0 20px;
  /* justify-content: space-between; */
}
.nigar_logo {
  font-size: 20px;
  /* font-weight: lighter; */
  position: relative;
  height: 56px;
  background-color: rgb(248, 249, 250);
  line-height: 56px;
  margin-right: 15px;
  font-family: "Noto Sans", sans-serif;
}

.nigar_list {
  display: flex;
  position: relative;
  height: 56px;
  text-decoration: none;
}

.nigar_list_item {
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}
.nigar_list_item a {
  text-decoration: none;
  color: #6c757d;
}
.nigar_list_item a:hover {
  color: black;
}
.nigar_list_item a:active {
  color: black;
  cursor: default;
}

.disabled {
  color: lavender;
}

.nigar_dropdown_list_item {
  display: block;
  height: auto;
  line-height: 16px;
  padding: 10px;
  font-family: "Noto Sans", sans-serif;
}
.nigar_dropdown_list_item:hover {
  background-color: rgb(248, 249, 250);
  cursor: pointer;
}
.nigar_dropdown_list {
  border: 1px solid #b2b7bb;
  width: auto;
  height: auto;
  display: none;
  border-radius: 5px;
  padding: 5px 0;
  font-size: 16px;
  color: #212529;
  position: absolute;

  /* color: #6c757d; */
}
.dropdown:hover + .nigar_dropdown_list {
  display: block;
}
.active {
  color: black !important;
}
